.features {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}

.featureSvg {
  height: 75px;
  width: 200px;
}

[data-theme='dark'] .featureSvg  {
  filter: invert(100%);
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem;
}